* {
    padding: 0;
    margin: 0;
}

a {
    color: #fff;
    text-decoration: none;
    transition: .3s;
}

a:hover {
    opacity: .7;
}

nav {
    display: flex;
    justify-content: space-around;
    align-items: center;
    background: url("../img/bg.jpg");
    height: 15vh;
}

#logo {
    width: 50px;
    height: 50px;
    border-radius: 50%;
}

.nav-list {
    list-style: none;
    display: flex;
}

.nav-list li {
    letter-spacing: 3px;
    margin-left: 32px;
}

.mobile-menu {
    display: none;
    cursor: pointer;
}

.mobile-menu div {
    width: 32px;
    height: 2px;
    background: #fff;
    margin: 8px;
}

/*Responsividade menu*/
@media screen and (max-width: 999px) {
    body {
        overflow-x: hidden;
    }

    .nav-list {
        position: absolute;
        display: none;
        top: 15vh;
        right: 0;
        width: 100vw;
        height: 50vw;
        background: #23232e;
        flex-direction: column;
        align-items: center;
        justify-content: space-around;
        transform: translateX(100%);
        transition: transform .3s ease-in;
    }
    
    .nav-list li {
        margin-left: 0;
    }
    
    .mobile-menu {
        display: block;
    }
}

.nav-list.active {
    display: flex;
    transform: translate(0);
}

body {
    font-family: 'Poppins', sans-serif;
    color: #000000;
    background: linear-gradient(#FEFEFE, #888888);
}

/*header {
    background: url("../img/bg.jpg");
    *background: #BBBBBB;
    padding: 2.87rem 0;
    position: fixed;
}*/

.caixa {
    display: flex;
    justify-content: center;
    /*position: relative;*/
    width: 100vw;
    margin: 0 auto;
}

/*nav {
    padding-top: 10px;
    position: absolute;
    top: 6.87rem;
    right: 5px;
}

nav li {
    display: inline;
    margin: 0 0 0 10px;
}

nav li a {
    color: #FFFFFF;
    font-size: 12px;
}

nav a {
	text-transform: uppercase;
	color: #000000;
	font-weight: bold;
	font-size: 22px;
	text-decoration: none;
}

nav a:hover {
	color: #C78C19;
	text-decoration: underline;
}*/

#logo {
    width: 60px;
    height: 60px;
    border-radius: 50%;
    /*margin-left: 5px;*/
}

.espaamento {
    width: 100vw;
    height: 140px;
}

.banner {
    width: 100vw;
}

.banner img {
    /*padding-top: 103px;*/
    width: 100%;
}

.principal {
    width: 100vw;
}

.principal h2 {
    text-align: center;
    padding: 10px 0;
    margin: 0 0 1em;
}

.principal p {
    text-align: justify;
    padding: 0 20px;
    margin: 0 0 1em;
}

.utensilios {
	width: 120px;
	float: left;
	margin: 5px 20px 0 20px;
}

.mapa {
    width: 100vw;
}

.tabela {
    padding-top: 20px;
    width: 100vw;
}

.tabela h1 img {
    width: 70%;
}

.mapa .mapa-conteudo {
    margin: 10px auto;
    width: 90%;
}

.mapa h3, h1 {
    text-align: center;
    padding: 20px 0;
}

.mapa p {
    text-align: justify;
    padding: 0 20px;
}

.beneficios {
    width: 100vw;
}

.beneficios {
    padding-top: 20px;
    text-align: center;
}

.beneficios ul {
    padding: 20px 0;
}

.conteudo-beneficios {
    width: 100%;
}

.beneficios .video iframe {
    width: 90%;
    margin: 5px auto 10px auto;
}

.beneficios .video {
    display: flex;
}

.itens {
	line-height: 1.5;
}

.itens:first-child {
	font-weight: bold;
}

.itens:before {
	content: "🟊";
}

.imagem-beneficios {
	width: 60%;
	opacity: 1;
	transition: .5s;
	box-shadow: 10px 10px 10px 0 #000000;
}

.imagem-beneficios:hover {
	opacity: 0.3;
}

footer #logo {
    width: 50px;
    height: 50px;
    border-radius: 50%;
}

footer {
    width: 100vw;
	text-align: center;
	background: url("../img/bg.jpg");
	padding: 30px 0;
}

.copyright {
	color: #FFFFFF;
	font-size: 13px;
	margin: 20px 0 0;
}