@media  screen and (max-width: 720px) {
    .carousel {
        width: 100%;
    }

    .video {
        width: 90%;
        height: 300px;
    }

    .formulario {
        width: 100%;
        height: 480px;
    }

    .formulario iframe {
        width: 99%;
        height: 479px;
    }
}