* {
    padding: 0;
    margin: 0;
}

a {
    color: #fff;
    text-decoration: none;
    transition: .3s;
}

a:hover {
    opacity: .7;
}

nav {
    display: flex;
    justify-content: space-around;
    align-items: center;
    background: url("../img/bg.jpg");
    height: 15vh;
}

#logo {
    width: 50px;
    height: 50px;
    border-radius: 50%;
}

.nav-list {
    list-style: none;
    display: flex;
}

.nav-list li {
    letter-spacing: 3px;
    margin-left: 32px;
}

.mobile-menu {
    display: none;
    cursor: pointer;
}

.mobile-menu div {
    width: 32px;
    height: 2px;
    background: #fff;
    margin: 8px;
}

/*Responsividade menu*/
@media (max-width: 999px) {
    .nav-list {
        position: absolute;
        top: 15vh;
        right: 0;
        width: 100vw;
        height: 50vw;
        background: #23232e;
        flex-direction: column;
        align-items: center;
        justify-content: space-around;
    }

    .nav-list li {
        margin-left: 0;
    }
}